{% extends 'base.html' %}

{% block content %}
    <div id="app">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item active">
            <a class="nav-link" href="/">Группы</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link active" href="/account">Аккаунт</a>
            </li>
        </ul>
        </header>

        <body>
            <div class="row">
              <div class="col m-4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-center" v-for="account in accountsArray" v-bind:key="account">
                    <span class="h6">
                        { account["phone_number"] }
                    </span>
                    <button @click="deleteAccount(account)" class="ms-3 btn btn-danger" type="submit">X</button>
                  </li>
                </ul>
              </div>
              <div class="col m-4">
                <div class="d-grid gap-3">
                    <input v-model="api_id" type="text" class="form-control" placeholder="api_id" aria-label="api_id">
                    <input v-model="api_hash" type="text" class="form-control" placeholder="api_hash" aria-label="api_hash">
                    <input v-model="phone_number" type="text" class="form-control" placeholder="Номер телефона" aria-label="Номер телефона">
                    <input v-model="password" type="text" class="form-control" placeholder="Пароль(если есть)" aria-label="Пароль(если есть)">
                    <input v-model="result_send_chat" type="text" class="form-control" placeholder="Чат для отправки сообщений" aria-label="Чат для отправки сообщений">
                    <button @click="addAccount()" class="btn btn-outline-secondary mt-4">Отправить телеграм код</button>
                    <input v-model="telegram_code" type="text" class="form-control" placeholder="Код от телеграмма" aria-label="Код от телеграмма">
                    <button @click="sendTelegramCode()" class="btn btn-outline-secondary mt-4">Добавить</button>
                </div>
              </div>
            </div>
          </body>

    </div>
{% endblock %}